/* background border color
#fff67d
 */

 *{
    margin: 0px;
    padding: 0px; 
}

#page{
    width:auto;
    height: 870px ;
    border: solid 37px #fff67d;
    margin-left: -8px;
    margin-top: -8px;
    }

#page-content{
    margin-top: 127px;
    margin-left: 20px;
    text-align: left;
}

#header{
    padding-left: 179px;
    font-family: sans-serif ;
    
}

#main-content{
    padding-left: 170px;
    margin-right: 1260px;
    display: inline-block;
    line-height: 28px;
}

#p-font{
    font-family: system-ui;
    font-size: 14px;
    text-transform: uppercase;
}

#content-font{

    font-family: sans-serif;
    font-size: 14px ;
}
u{
   background: yellow;
   text-decoration: none;
   font-weight: bold;

}

#under-line-p{

margin-top: 25px;

}

#border-div{
    border-bottom: solid 1px #dedede;
    margin-top: 40px;
}

ul{
    padding-top: 20px;

}

ul li{
    display: inline;
    padding-left: 15px;
    
}




